:root {
  --color-bg: #141414;
}

/* MEDIA BPs*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #eeeeee;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.active {
  background-color: black;
  color: #fff;
}

/* NAV BAR*/
.navigation {
  background-color: var(--color-bg);
  color: #fff;
  padding: 2rem;
}

@media only screen and (min-width: 125em) {
  .navigation {
    padding: 4rem;
  }
}

.navigation__logo {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 125em) {
  .navigation__logo {
    font-size: 2.9rem;
  }
}

.navigation__categories {
  display: none;
}

@media only screen and (max-width: 61.9375em) {
  .navigation__categories {
    display: block;
  }
}

.navigation__links {
  list-style: none;
  padding: 0%;
}

.navigation__item {
  padding: 0.5rem 0.3rem;
  margin: 0.3rem;
}

.navigation__item:hover {
  text-decoration: underline;
}

.categories__item--link, .categories__item--link:hover {
  color: white;
}

/*APP CONTAINER*/
.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-container h2,
.app-container h3,
.app-container h4 {
  display: inline-block;
}

/*CATEGORIES SIDEBAR */
.section__categories {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  background-color: #fff;
}

@media only screen and (min-width: 125em) {
  .section__categories {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
  }
}

@media only screen and (max-width: 61.9375em) {
  .section__categories {
    display: none;
  }
}

.section__categories .categories__links {
  list-style: none;
  padding: 0%;
}

.section__categories .categories__item {
  padding: 0.5rem 0;
}

.section__categories .categories__item--link {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-bg);
}

.section__categories .categories__item--link:hover {
  background-color: var(--color-bg);
  color: #fff;
}

.section__categories .categories__item--link:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 106.25em) {
  .section__categories .categories__item--link {
    padding: 2rem 2rem 0;
    font-size: 1.7rem;
  }
}

/* NEWS CONTAINER*/
.news-content {
  padding: 4rem;
  /* TOP STORIES */
  /*CATEGORY NEWS*/
}

.news-content__title {
  font-size: 2.5rem;
  padding-block: 1rem;
}

@media only screen and (max-width: 86.5em) {
  .news-content {
    padding: 2rem;
  }
  .news-content__title {
    margin-left: 2rem;
  }
}

.news-content__card {
  background: white;
  width: 27rem;
  margin: 2rem auto;
  padding: 0;
  border-radius: 10px;
}

.news-content__card--image {
  width: inherit;
  border-radius: 10px 10px 0 0;
}

.news-content__card--text {
  margin: 1.4rem;
}

.news-content__card--text-heading {
  margin-bottom: 1.2rem;
  font-size: 1.85rem;
}

.news-content__card--link {
  color: inherit;
  text-decoration: none;
}

.news-content__card--link:hover {
  color: inherit;
  text-decoration: underline;
}

.news-content__card--provider {
  font-size: 1.2rem;
}

@media only screen and (min-width: 125em) {
  .news-content__card {
    width: 36rem;
  }
  .news-content__card--text {
    margin: 1.6rem;
  }
  .news-content__card--text-heading {
    margin-bottom: 1.3rem;
    font-size: 2rem;
  }
  .news-content__card--provider {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 71.875em) {
  .news-content__card {
    width: 24rem;
  }
  .news-content__card__title {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 61.9375em) {
  .news-content__card {
    width: 33rem;
  }
}

@media only screen and (max-width: 35.25em) {
  .news-content__card {
    width: 23rem;
  }
}

@media only screen and (max-width: 32.4375em) {
  .news-content__card {
    width: 86%;
  }
  .news-content__card--image {
    width: 100%;
  }
}

.news-content__category-container {
  padding: 0 1rem;
}

@media only screen and (min-width: 71.875em) {
  .news-content__category-container {
    padding: 0;
  }
}

@media only screen and (max-width: 32.4375em) {
  .news-content__category-container {
    padding: 0;
  }
}

.news-content__tile {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
}

.news-content__tile:not(:last-of-type) {
  margin: 3rem 0;
}

.news-content__tile--text {
  padding: 1rem;
}

.news-content__tile--text-heading {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.news-content__tile--text-link {
  color: inherit;
  text-decoration: none;
}

.news-content__tile--text-link:hover {
  color: inherit;
  text-decoration: underline;
}

.news-content__tile--text-link-2 {
  color: inherit;
}

.news-content__tile--text-description {
  font-size: 1.6rem;
}

.news-content__tile--provider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.news-content__tile--provider-image {
  width: 3%;
  margin-right: 1rem;
}

.news-content__tile--provider-name {
  font-size: 1.5rem;
  margin-right: auto;
  margin-bottom: 0;
}

.news-content__tile--provider-date {
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media only screen and (min-width: 125em) {
  .news-content__tile {
    padding: 3rem;
  }
  .news-content__tile--text {
    padding: 2rem;
  }
  .news-content__tile--text-heading {
    font-size: 2.9rem;
  }
  .news-content__tile--text-description {
    font-size: 2.4rem;
  }
  .news-content__tile--provider-name, .news-content__tile--provider-date {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 106.25em) {
  .news-content__tile--text-heading {
    font-size: 2.2rem;
  }
  .news-content__tile--text-description {
    font-size: 1.8rem;
  }
  .news-content__tile--provider-name, .news-content__tile--provider-date {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 71.875em) {
  .news-content__tile--text {
    padding: 0;
  }
  .news-content__tile--text-heading {
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
  }
  .news-content__tile--text-description {
    font-size: 1.5rem;
  }
  .news-content__tile--provider-name, .news-content__tile--provider-date {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 35.25em) {
  .news-content__tile--text-description {
    display: none;
  }
  .news-content__tile--provider {
    padding: 0;
  }
}

@media only screen and (max-width: 32.4375em) {
  .news-content__tile--text-heading {
    font-size: 1.5rem;
  }
  .news-content__tile--provider-name, .news-content__tile--provider-date {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .news-content__tile {
    padding: 1rem;
  }
  .news-content__tile--text-heading {
    font-size: 1.3rem;
  }
  .news-content__tile--provider-name, .news-content__tile--provider-date {
    font-size: 1.1rem;
  }
}

.respond-vw {
  width: 80vw;
}

@media only screen and (max-width: 61.9375em) {
  .respond-vw {
    width: 100%;
  }
}

.row {
  max-width: 78vw;
}

@media only screen and (max-width: 61.9375em) {
  .row {
    max-width: 100%;
  }
}

/* NEWS - SCROLL */
.news-content__category-container,
.row {
  max-height: 150vh;
  overflow-y: scroll;
}

/*FOOTER*/
footer {
  background: #141414;
  color: white;
  padding: 3rem;
  text-align: center;
}

footer h4 {
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */