* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  // font-family: "Gentium Plus", serif;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: 0;
  padding: 0%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

/* NAV BAR*/
nav {
  background-color: #141414;
  color: #fff;
  a:hover {
    text-decoration: none;
    color: #fff;
  }
}
.nav-categories {
  display: none;
}

/* GLOBAL -- NAV .categories && CATEGORIES SECTION .categories*/
.categories {
  ul {
    list-style: none;
    padding: 0%;

    li {
      padding: 0.5rem 0.3rem;
      margin: 0.3rem;
    }
    li:hover {
      text-decoration: underline;
    }
  }
}

/* NEWS BODY*/
.categories-section,
.headline-news-section,
.popular-news-container,
.news-image {
  border-radius: 10px;
}
.section-spacing {
  padding: 1rem 2rem 2rem 2rem;
}
.news-app-container {
  h2,
  h3,
  h4 {
    display: inline-block;
  }
  padding: 1.5rem;
}

#section-title {
  padding-block: 1.5rem;
}

/* NEWS ARTICLE - SCROLL */
.news-content-container {
  max-height: 150vh;
  overflow-y: scroll;
}

/* CATEGORIES SECTION */
.categories-container {
  padding: 5rem 1rem;
}
.categories-section {
  display: grid;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 1rem;
}

.category-topics {
  cursor: pointer;
}

/* HEADLINE NEWS PAGE - TOP STORIES SECTION */
.headline-news-section {
  transition: transform 1s, opacity 1s;
  background: white;
  width: 18rem;
  margin: 2rem auto;
  padding: 0;

  img {
    width: inherit;
    border-radius: 10px 10px 0 0;
  }

  .headline-text {
    margin: 1rem;
  }
}

/* CATEGORY NEWS PAGE*/
.category-news-section {
  transition: transform 3s, opacity 2s;
  background: white;
  padding: 1.5rem;
  margin: 2rem 0.5rem;
  border-radius: 10px;
  .category-news-text {
    .description-text {
      margin-block: 0.7rem;
      a {
        text-decoration: underline;
      }
      a:hover {
        color: rgb(19, 41, 134);
      }
    }
  }

  .category-news-provider {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .provider-container {
      display: flex;
      align-items: center;
      .news-provider-image {
        width: 2.3rem;
      }
      p {
        padding-left: 1rem;
      }
    }
  }
}

footer {
  background: #141414;
  color: white;
  padding: 3rem;
  text-align: center;
  h5 {
    display: inline-block;
  }
}

@media (max-width: 995px) {
  /* NEWS BODY*/
  .section-spacing {
    padding: 0;
    width: auto;
  }
  .categories-container {
    display: none;
  }
  .nav-categories {
    display: block;
    .categories {
      a:hover {
        font-weight: bold;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  /* NEWS ARTICLE - SCROLL */
  .news-content-container {
    max-height: auto;
    overflow-y: scroll;
    padding: 1rem;
  }
}

@media (max-width: 802px) {
  .category-news-section {
    padding: inherit;
  }
}
@media (max-width: 720px) {
  .news-content-container {
    padding: 0.6rem;
  }

  .category-news-text {
    h5 {
      font-size: 1.1rem;
    }
    .description-text {
      font-size: 0.8rem;
    }
  }
  .category-news-provider {
    .provider-name,
    .date {
      font-size: 0.8rem;
    }
    .news-provider-image {
      width: 2rem;
    }
  }
}

@media (max-width: 583px) {
  .news-app-container {
    padding: 1.2rem;
  }
  .category-news-text {
    h5 {
      font-size: 0.9rem;
    }
    .description-text {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 553px) {
  .category-news-text {
    h5 {
      font-size: 0.9rem;
    }
    .description-text {
      display: none;
    }
  }

  .category-news-section {
    margin: 2rem auto;
  }
  .category-news-provider {
    .provider-name,
    .date {
      font-size: 0.6rem;
    }
    .news-provider-image {
      width: 1rem;
    }
  }
}

@media (max-width: 370px) {
  .headline-news-section {
    width: 15.7rem;
  }
}
