<div class="col-lg-2 categories-container">
  <div class="categories-section">
    <h4>Category</h4>
    <div class="categories">
      <ul>
        <a href="/"><li class="category-topics">Top Stories</li></a>
        <a href="/category"><li class="category-topics">Business</li></a>
        <a href="/category"><li class="category-topics">Entertainment</li></a>
        <a href="/category"><li class="category-topics">Health</li></a>
        <a href="/category"><li class="category-topics">Politics</li></a>
        <a href="/category"><li class="category-topics">Products</li></a>
        <a href="/category"
          ><li class="category-topics">Science and Technology</li></a
        >
        <a href="/category"><li class="category-topics">Sports</li></a>
        <a href="/category"><li class="category-topics">US</li></a>
        <a href="/category"><li class="category-topics">World</li></a>
        <a href="/category"><li class="category-topics">Africa</li></a>
        <a href="/category"><li class="category-topics">Americas</li></a>
        <a href="/category"><li class="category-topics">Asia</li></a>
        <a href="/category"><li class="category-topics">Europe</li></a>
        <a href="/category"><li class="category-topics">MiddleEast</li></a>
      </ul>
    </div>
  </div>
</div>
