<section class="section__categories">
  <ul class="categories__links">
    <li class="categories__item">Top Stories</li>
    <li class="categories__item">Business</li>
    <li class="categories__item">Entertainment</li>
    <li class="categories__item">Health</li>
    <li class="categories__item">Politics</li>
    <li class="categories__item">Products</li>
    <li class="categories__item">Science and Technology</li>
    <li class="categories__item">Sports</li>
    <li class="categories__item">US</li>
    <li class="categories__item">World</li>
    <li class="categories__item">Africa</li>
    <li class="categories__item">Americas</li>
    <li class="categories__item">Asia</li>
    <li class="categories__item">Europe</li>
    <li class="categories__item">MiddleEast</li>
  </ul>
</section>
